.header-section {
    margin-bottom: 30px;
}

.header-section h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 5px;
}

.header-section p {
    color: var(--light-text);
    font-size: 0.9em;
}