.background__container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.background__container::after{
    content: "";
    z-index: 2;
    position: absolute;
    inset: 0;
    background: url("../icons/background.svg") center/cover no-repeat;
    opacity: 0.3;
}

.glow{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid red;
  opacity: 0.2;
  filter: blur(24px);
  margin-top: 50px;
  margin-left: 50px;
  animation: glow 2s linear infinite;
  position: absolute;
}

.yellow{
    width: 64px;
    height: 64px;
    background: radial-gradient(circle, #e4a800 30%, #fcc800);
    top: 5%;
    right: 5%;
}
.purple{
    width: 80px;
    height: 80px;
    background: radial-gradient(circle, #615fff 30%, #7c8cff);
    top: 30%;
    left: 3%;
}
.blue{
    width: 96px;
    height: 96px;
    background: radial-gradient(circle, #267fff 30%, #4fa2ff);
    bottom: 20%;
    left: 5%;
}